# Real or Not? NLP with Disaster Tweets

In [1]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

##### Data Exploration

In [2]:
train[train["target"] == 0]["text"].values[5]

'this is ridiculous....'

In [3]:
train[train["target"] == 1]["text"].values[4]

'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school '

In [4]:
import seaborn as sns
sns.countplot(x= 'target',data = train)

In [5]:
len(train)

7613

In [6]:
 train.isnull().sum(axis=0)

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [7]:
len(test)

3263

In [8]:
test.isnull().sum(axis=0)

id             0
keyword       26
location    1105
text           0
dtype: int64

After looking at the NAs we see that the "location" has around 33% of missing values in both datasets
so in our opinion it is better to drop this column
Moreover, the keyword column has less than 1% of missing values so we will keep it in case it will be useful in the future

In [9]:
del train['location']

In [10]:
del test['location']

In [11]:
# How many http words has this text?
train.loc[train['text'].str.contains('http')].target.value_counts()

1    2172
0    1799
Name: target, dtype: int64

Removing HTTP links

In [12]:
import re
    
pattern = re.compile('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')

def remove_links(text):
    no_link= pattern.sub('',text)
    return no_link

print(train['text'].iloc[33])
print(remove_links(train['text'].iloc[33]))

#AFRICANBAZE: Breaking news:Nigeria flag set ablaze in Aba. http://t.co/2nndBGwyEi
#AFRICANBAZE: Breaking news:Nigeria flag set ablaze in Aba.

In [13]:
train['text'] = train['text'].apply(lambda x: remove_links(x))

In [14]:
test['text'] = test['text'].apply(lambda x: remove_links(x))

Removing usernames (@)

In [15]:
pattern = re.compile('@[^\s]+')

def remove_username(text):
    no_username= pattern.sub('',text)
    return no_username

print(train['text'].iloc[65])
print(remove_links(train['text'].iloc[65]))

@nxwestmidlands huge fire at Wholesale markets ablaze
 huge fire at Wholesale markets ablaze

In [16]:
train['text'] = train['text'].apply(lambda x: remove_username(x))

In [17]:
test['text'] = test['text'].apply(lambda x: remove_username(x))

### The dataset has a lot of unstructured tweets which should be "cleaned" in order to make an NLP model
Removing punctuations, stop words will save more computational power  and give us a higher accuracy since they are not related to sentiments.

1- Expanding shortened words (don't to do not)

In [18]:
## Tommy, the below improting takes time becuase we are loading twitter 25 which is a specific number, 
## I google but got 2B tweetss for twitter-25 and twitter-100, so no lo se
## DO NOT REMOVE STOP WORDS, DONT IS IMPORTANT FOR NEGATION, filter?
## WHAT TO DO WITH WEBSITES

create new feature for link yes or no, deletin links, dont use keyword

In [19]:
from pycontractions import Contractions
import gensim.downloader as api

model = api.load("glove-twitter-25")
cont = Contractions(kv_model=model)
cont.load_models()


def expand_contractions(text):
    text = list(cont.expand_texts([text], precise=True))[0]
    return text

print(train['text'].iloc[7])
print(expand_contractions(train['text'].iloc[7]))

I'm on top of the hill and I can see a fire in the woods...
I am on top of the hill and I can see a fire in the woods...

In [20]:
train['text'] = train['text'].apply(expand_contractions)

In [21]:
test['text'] = test['text'].apply(expand_contractions)

2- Removal of punctuations

In [22]:
# Our dataset is related to tweets so we will have a lot of @ and # 
from textblob import TextBlob

def punctuations(tweet):
    tweet_blob = TextBlob(tweet)
    return ' '.join(tweet_blob.words)

print(train['text'].iloc[3])
print(punctuations(expand_contractions(train['text'].iloc[3])))

13,000 people receive #wildfires evacuation orders in California
13,000 people receive wildfires evacuation orders in California

In [23]:
train['text'] = train['text'].apply(punctuations)

In [24]:
test['text'] = test['text'].apply(punctuations)

3- Removal of accented characters (café to cafe)

In [25]:
# in this dataset we do not have accented characters, this function will be used in case we are analyzing tweets 
# from France or any country that has accented characters in their languages
import unidecode

def remove_accented_chars(text):
    text = unidecode.unidecode(text)
    return text

print(train['text'].iloc[3])
print((remove_accented_chars(train['text'].iloc[3])))

13,000 people receive wildfires evacuation orders in California
13,000 people receive wildfires evacuation orders in California

In [26]:
train['text'] = train['text'].apply(remove_accented_chars)

In [27]:
test['text'] = test['text'].apply(remove_accented_chars)

4- Removal of commonly used words and stopwords

In [28]:
#Option1 

from nltk.corpus import stopwords
import re

def common_stopwords(tweet):
    tweet = re.sub('[^a-zA-Z]', ' ', tweet)
    tweet = tweet.lower()
    tweet_list = [ele for ele in tweet.split() if ele != 'user']
    clean_tokens = [t for t in tweet_list if re.match(r'[^\W\d]*$', t)]
    clean_s = ' '.join(clean_tokens)
    clean_mess = [word for word in clean_s.split() if word.lower() not in stopwords.words('english')]
#     clean_mess = ' '.join(clean_mess)
    return clean_mess

print(train['text'].iloc[12])
print(common_stopwords(train['text'].iloc[12]))

raining flooding Florida TampaBay Tampa 18 or 19 days I have lost count
['raining', 'flooding', 'florida', 'tampabay', 'tampa', 'days', 'lost', 'count']

In [29]:
#Option2 lower score
# We decided not to import the stopwords from nltk.corpus since we wanted to keep the words that negate like no,not,,

### list of stop words that need to be removed
# stop_words = ['as', 'in', 'of', 'is', 'are', 'were', 'was', 'it', 'for', 'to', 'from', 'into', 'onto', 
#               'this', 'that', 'being', 'the','those', 'these', 'such', 'a', 'an','i','and','be','you',
#               'have','on','my','do','with', 'or','be','at','by','s','have']

# from nltk import word_tokenize
# import re

# def remove_stopwords(tweet):
#     tweet = re.sub('[^a-zA-Z]', ' ', tweet)
#     tweet = tweet.lower()
#     tokenized_words = word_tokenize(tweet)
#     temp = [word for word in tokenized_words if word not in stop_words]
# #     temp = ' '.join(temp)
#     return temp

# print(train['text'].iloc[12])
# print(remove_stopwords(train['text'].iloc[12]))

Choose between option A and B

choosing option A

In [30]:
train['text'] = train['text'].apply(common_stopwords)

In [31]:
test['text'] = test['text'].apply(common_stopwords)

In [69]:
#Create our dictionary 
uniqueWordFrequents = {}
for tweet in train.text:
    for word in tweet.split():
        if(word in uniqueWordFrequents.keys()):
            uniqueWordFrequents[word] += 1
        else:
            uniqueWordFrequents[word] = 1
            
#Convert dictionary to dataFrame
uniqueWordFrequents = pd.DataFrame.from_dict(uniqueWordFrequents,orient='index',columns=['Word Frequent'])
uniqueWordFrequents.sort_values(by=['Word Frequent'], inplace=True, ascending=False)
uniqueWordFrequents.head(10)

     Word Frequent
the           2575
a             1845
to            1805
in            1757
of            1722
and           1302
I             1197
for            820
is             814
on             773

In [70]:
uniqueWordFrequents = uniqueWordFrequents[uniqueWordFrequents['Word Frequent'] >= 20]
print(uniqueWordFrequents.shape)
uniqueWordFrequents

(720, 1)

          Word Frequent
the                2575
a                  1845
to                 1805
in                 1757
of                 1722
...                 ...
care                 20
side                 20
crisis               20
Breaking             20
own                  20

[720 rows x 1 columns]

In [66]:
train

         id keyword                                               text  target
0         1     NaN  Our Deeds are the Reason of this #earthquake M...       1
1         4     NaN             Forest fire near La Ronge Sask. Canada       1
2         5     NaN  All residents asked to 'shelter in place' are ...       1
3         6     NaN  13,000 people receive #wildfires evacuation or...       1
4         7     NaN  Just got sent this photo from Ruby #Alaska as ...       1
...     ...     ...                                                ...     ...
7608  10869     NaN  Two giant cranes holding a bridge collapse int...       1
7609  10870     NaN    The out of control wild fires in California ...       1
7610  10871     NaN        M1.94 [01:04 UTC]?5km S of Volcano Hawaii.        1
7611  10872     NaN  Police investigating after an e-bike collided ...       1
7612  10873     NaN  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 4 columns]

5- Word Normalization

In [32]:
from nltk.stem.wordnet import WordNetLemmatizer

def normalization(tweet_list):
        lem = WordNetLemmatizer()
        normalized_tweet = []
        for word in tweet_list:
            normalized_text = lem.lemmatize(word,'v')
            normalized_tweet.append(normalized_text)
        return normalized_tweet
    
print((train['text'].iloc[12]))   
print(normalization((train['text'].iloc[12])))

['raining', 'flooding', 'florida', 'tampabay', 'tampa', 'days', 'lost', 'count']
['rain', 'flood', 'florida', 'tampabay', 'tampa', 'days', 'lose', 'count']

In [33]:
train['text'] = train['text'].apply(normalization)

In [34]:
test['text'] = test['text'].apply(normalization)

In [35]:
train['text']

0       [deeds, reason, earthquake, may, allah, forgiv...
1           [forest, fire, near, la, ronge, sask, canada]
2       [residents, ask, shelter, place, notify, offic...
3       [people, receive, wildfires, evacuation, order...
4       [get, send, photo, ruby, alaska, smoke, wildfi...
                              ...
7608    [two, giant, crane, hold, bridge, collapse, ne...
7609    [control, wild, fire, california, even, northe...
7610                           [utc, km, volcano, hawaii]
7611    [police, investigate, e, bike, collide, car, l...
7612    [latest, home, raze, northern, california, wil...
Name: text, Length: 7613, dtype: object

In [36]:
for i in range(0,len(train)):
        train['text'][i] = ' '.join(train['text'][i])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
 train['text']

0            deeds reason earthquake may allah forgive us
1                   forest fire near la ronge sask canada
2       residents ask shelter place notify officer eva...
3       people receive wildfires evacuation order cali...
4       get send photo ruby alaska smoke wildfires pou...
                              ...
7608     two giant crane hold bridge collapse nearby home
7609    control wild fire california even northern par...
7610                                utc km volcano hawaii
7611    police investigate e bike collide car little p...
7612    latest home raze northern california wildfire ...
Name: text, Length: 7613, dtype: object

In [38]:
#Create our dictionary 
uniqueWordFrequents = {}
for tweet in train.text:
    for word in tweet.split():
        if(word in uniqueWordFrequents.keys()):
            uniqueWordFrequents[word] += 1
        else:
            uniqueWordFrequents[word] = 1
            
#Convert dictionary to dataFrame
uniqueWordFrequents = pd.DataFrame.from_dict(uniqueWordFrequents,orient='index',columns=['Word Frequent'])
uniqueWordFrequents.sort_values(by=['Word Frequent'], inplace=True, ascending=False)
uniqueWordFrequents.head(10)

      Word Frequent
get             442
like            395
fire            360
amp             344
go              325
bomb            239
new             224
via             220
news            207
say             200

In [39]:
uniqueWordFrequents = uniqueWordFrequents[uniqueWordFrequents['Word Frequent'] >= 20]
print(uniqueWordFrequents.shape)

(735, 1)

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

counVec = CountVectorizer(max_features = uniqueWordFrequents.shape[0])
bagOfWords = counVec.fit_transform(train.text).toarray()

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer  

tfidfconverter = TfidfVectorizer(max_features=uniqueWordFrequents.shape[0], min_df=5, max_df=0.7)  
X = tfidfconverter.fit_transform(train.text).toarray()
#if remove X, bagofwords should be X

In [96]:
# from sklearn.feature_extraction.text import TfidfTransformer
# from sklearn.pipeline import Pipeline
# from sklearn.naive_bayes import MultinomialNB

# text_clf = Pipeline([('vect', CountVectorizer(max_features = uniqueWordFrequents.shape[0], min_df=5, max_df=0.7 )),
#                       ('tfidf', TfidfTransformer()),
#                       ('clf', MultinomialNB()) ])
# text_clf = text_clf.fit(X_train,y_train)

In [97]:
# import numpy as np
# predicted = text_clf.predict(X_test)
# np.mean(predicted == y_test)

0.783322390019698

In [98]:
# y_pred = text_clf.predict(X_test)
# print(' F1 Score is      : ' ,f1_score(y_test,y_pred))

 F1 Score is      :  0.7135416666666666

In [101]:
from sklearn.model_selection import train_test_split


X = train.text
y = train['target']
print("X shape = ",X.shape)
print("y shape = ",y.shape)

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.20, random_state=55, shuffle =True)
print('data splitting successfully')

X shape =  (7613, 735)
y shape =  (7613,)
data splitting successfully

In [62]:
from sklearn.tree import DecisionTreeClassifier

decisionTreeModel = DecisionTreeClassifier(criterion= 'entropy',
                                           max_depth = None, 
                                           splitter='best', 
                                           random_state=55)

decisionTreeModel.fit(X_train,y_train)

print("decision Tree Classifier model run successfully")

decision Tree Classifier model run successfully

In [63]:
print(' Train Score is   : ' ,decisionTreeModel.score(X_train, y_train))

 Train Score is   :  0.9802955665024631

In [64]:
from sklearn.metrics import f1_score


y_pred = decisionTreeModel.predict(X_test)
print(' F1 Score is      : ' ,f1_score(y_test,y_pred))

 F1 Score is      :  0.6820987654320988

In [74]:
from sklearn.linear_model import LogisticRegression

LogisticRegression = LogisticRegression(penalty='l2', 
                                        solver='saga', 
                                        random_state = 55)  

LogisticRegression.fit(X_train,y_train)

print("LogisticRegression Classifier model run successfully")

LogisticRegression Classifier model run successfully

In [75]:
print(' Train Score is   : ' ,LogisticRegression.score(X_train, y_train))

 Train Score is   :  0.8297208538587849

In [76]:
y_pred = LogisticRegression.predict(X_test)
print(' F1 Score is      : ' ,f1_score(y_test,y_pred))

 F1 Score is      :  0.7223168654173765

In [ ]:
# from sklearn.pipeline import Pipeline
# from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

# pipeline = Pipeline([
#     ('bow',CountVectorizer(analyzer=text_processing)),  # strings to token integer counts
#     ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
#     ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
# ])

depending on accuracy choose option 1 or 2 in stop words and try to  remove not repetetive words